<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head', {titulo:"Borrar", css:"delete"}) %>
<%-include('./partials/header') %>

<body>
    
    <h1>Estas seguro de querer borrar esta película: <%= peliculas.nombre %>???</h1>
    
        <form action="/products/delete/<%= peliculas.id %>" method="POST">
            <div  class="botones"> 
                <button class="botonBorrar" type="submit">Borrar la Película</button>
                <a href="/list"><button type="submit">Listado de peliculas</button></a>
            </div>

        </form>
    
    
</body>
<%-include('./partials/footer') %>
</html>