<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head', {titulo:"edit", css:""}) %>  <!--*! falta agregar css -->
<%-include('./partials/header') %>

<body>
<!-- hola -->
    <h1 class="titulo">Película Editada:  <%= peliculas.nombre %></h1>
    <section class="formulario">
        <form action="/products/edit/<%= peliculas.id %>" method="POST">
            <label for="title">Titulo de la Pelicula </label>
            <p><input type="text" name="title" id="" value="<%= peliculas.nombre %>" required></p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= peliculas.rating %>" required></p>
            <label for="awards">Precio </label>
            <p><input type="number" name="awards" id="" value="<%= peliculas.precio %>" required></p>
            <label for="description">Descripcion </label>
            <p><input type="text" name="description" id="" value="<%= peliculas.description %> required"></p>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/list">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>