<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head', {titulo:"edit", css:"edit"}) %>  <!--*! falta agregar css -->
<%-include('./partials/header') %>

<body>
    <div class="formulario">
    <h1 class="titulo">Película Editada:  <%= peliculas.nombre %></h1>
    <section class="formulario">
        <form action="/products/update/<%= peliculas.id %>" method="POST">
            <label for="title">Titulo de la Pelicula </label>
            <p><input type="text" name="title" id="" value="<%= peliculas.nombre %>" required></p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= peliculas.rating %>" required></p>
            <label for="awards">Precio </label>
            <p><input type="number" name="awards" id="" value="<%= peliculas.precio %>" required></p>
            <label for="description">Descripcion </label>
            <p><input type="text" name="description" id="" value="<%= peliculas.description %> required"></p>
            
        </section>
        </div>
            <p class="botones"> 
                <button class="botonAgregar" type="submit">Actualizar</button>
                <a href="/list"><button type="submit">Listado de peliculas</button></a>
                </p>
        </form>
</body>
<%-include('./partials/footer') %>
</html>