<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head',{titulo:"Home", css:"styles"}) %>
    <%-include('./partials/header') %>

        <body>
            <div class="conteinerGeneral">
                <% products.forEach(function(product){%>
                    <a href="/products/detalleDeProducto/<%=product.id%>">

                        <figure class="foto">
                            <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                        </figure>
                        <div class="info">
                            <h3>
                                <%=product.name %>
                            </h3>
                            <p class="descripcion">
                                <%=product.description%>
                            </p>
                            <p class="precio">
                                <%=product.price%>
                            </p>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </body>
        <%-include('./partials/footer') %>

</html>